/*Fonts*/
/*Background Images*/
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  background-color: white;
  margin: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  height: fit-content;
  padding-left: 1em;
  padding-right: 1em;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: center;
}

nav ul li {
  display: flex;
  align-items: center;
  padding: .5em;
}

nav ul li a {
  text-decoration: none;
  font-family: "Baloo Tammudu 2", cursive;
}

nav #logo {
  background: url("/img/logo.png");
  background-position: center;
  background-size: 100%;
  background-repeat: repeat;
  background-repeat: no-repeat;
  justify-self: center;
  align-self: center;
  height: 100px;
  width: 200px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
}

main h1, main h2, main h3, main h4, main h5, main h6, main p, main a {
  color: #eeeeee;
  text-align: center;
  font-family: "Baloo Tammudu 2", cursive;
  padding: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

main h2 {
  font-size: 2.5em;
  height: 1.5em;
}

main section {
  background-color: #535353;
}

main article {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

main article img {
  max-width: 75%;
  height: auto;
}

@media screen and (min-width: 700px) {
  main article img {
    max-width: 25%;
  }
}

main .newSection {
  background-color: darkgreen;
  width: 100%;
}

main .header {
  border-top: 3px solid white;
  padding: 1em;
  border-bottom: 3px solid white;
}

main .header h1 {
  font-family: "Courgette", cursive;
  font-size: 3em;
  text-shadow: 2px 2px #000000;
}

main #topHeader {
  border-top: 0;
}

main #landing {
  background: url("/img/plant.jpeg");
  background-position: center;
  background-size: 100%;
  background-repeat: repeat;
  padding: 5em;
}

main #landscaping {
  background: url("/img/grass.jpeg");
  background-position: center;
  background-size: 100%;
  background-repeat: repeat;
  border-bottom: 2px solid white;
}

main #landscaping img {
  margin: 1em;
  border-radius: 10px;
  border: 2px solid white;
  box-shadow: 2px 2px 4px black;
}

main #pw {
  background: url("/img/concrete.jpeg");
  background-position: center;
  background-size: 100%;
  background-repeat: repeat;
  border-bottom: 2px solid white;
}

main #pw img {
  margin: 1em;
  border-radius: 10px;
  border: 2px solid white;
  box-shadow: 2px 2px 4px black;
}

main #junk {
  background: url("/img/metal.jpeg");
  background-position: center;
  background-size: 100%;
  background-repeat: repeat;
}

main #junk img {
  margin: 1em;
  border-radius: 10px;
  border: 2px solid white;
  box-shadow: 2px 2px 4px black;
}

main #testamonials {
  background: url("/img/sky.jpeg");
  background-position: center;
  background-size: 100%;
  background-repeat: repeat;
}

main #testamonials .testamonial {
  width: 75%;
  background-color: #eeeeee;
  margin: 1em;
  padding: .5em;
  border-radius: 10px;
  border: 2px solid white;
  box-shadow: 2px 2px 4px black;
  display: flex;
  justify-content: space-around;
  align-content: space-around;
  align-items: space-around;
}

main #testamonials .testamonial h1, main #testamonials .testamonial h2, main #testamonials .testamonial h3, main #testamonials .testamonial h4, main #testamonials .testamonial h5, main #testamonials .testamonial h6, main #testamonials .testamonial p, main #testamonials .testamonial a {
  color: black;
}

main #testamonials .testamonial img {
  max-width: 100px;
  max-height: 100px;
}

main #testamonials .testamonial .testamonialText {
  margin-inline-start: 0;
  margin-inline-end: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  align-self: center;
}

main #testamonials .testamonial .testamonialText h3 {
  text-shadow: 1px 1px 2px gray;
}

main #testamonials .testamonial .testamonialPhotos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 1100px) {
  main #testamonials .testamonial {
    width: 25%;
  }
}

main #contactUs {
  background: url("/img/brick.jpg");
  background-position: center;
  background-size: 100%;
  background-repeat: repeat;
  display: flex;
  width: 100%;
  padding: 1em;
}

main #contactUs img {
  border-radius: 10px;
  border: 2px solid white;
  box-shadow: 2px 2px 4px black;
  max-width: 50% !important;
}
