@import './variables';

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    background-color: white;
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    height: fit-content;
    padding-left: 1em;
    padding-right: 1em;
    ul {
        display: flex;
        flex-wrap: wrap;
        list-style-type: none;
        justify-content: center;
        li {
            display: flex;
            align-items: center;
            padding: .5em;
            a {
                text-decoration: none;
                font-family: $nav_font_family;
            }
        }
    }
    #logo {
        background: url("/img/logo.png");
        @include background_image;
        background-repeat: no-repeat;
        justify-self: center;
        align-self: center;
        height: 100px;
        width: 200px;
    }
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    h1, h2, h3, h4, h5, h6, p, a {
        color: rgb(238, 238, 238);
        text-align: center;
        font-family: $main_font_family;
        padding: 0;
        @include margin_killer;
    }
    h2 {
        font-size: 2.5em;
        height: 1.5em;
    }
    section {
        background-color: rgb(83, 83, 83);
    }
    article {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        img {
            max-width: 75%;
            height: auto;
        }
        @media screen and (min-width: 700px) { 
            img {
                max-width: 25%;
            }
            
        }
    }
    .newSection {
        background-color: darkgreen;
        width: 100%;
    }
    .header {
        border-top: 3px solid white;
        padding: 1em;
        border-bottom: 3px solid white;
        h1 {
            font-family: $main_font_family_2;
            font-size: 3em;
            text-shadow: 2px 2px #000000;
        }
    }
    #topHeader {
        border-top: 0;
    }
    #landing {
        background: url("/img/plant.jpeg");
        @include background_image;
        padding: 5em;
    }
    #landscaping {
        background: $landscaping_bg;
        @include background_image;
        border-bottom: 2px solid white;
        img {
            margin: 1em;
            @include image_border;
        }
    }
    #pw {
        background: $pw_bg;
        @include background_image;
        border-bottom: 2px solid white;
        img {
            margin: 1em;
            @include image_border;
        }
    }
    #junk {
        background: $junk_bg;
        @include background_image;
        img {
            margin: 1em;
            @include image_border;
        }
    }
    #testamonials {
        background: $testamonials_bg;
        @include background_image;
        .testamonial {
            width: 75%;
            background-color: rgb(238, 238, 238);
            margin: 1em;
            padding: .5em;
            @include image_border;
            display: flex;
            justify-content: space-around;
            align-content: space-around;
            align-items: space-around;
            h1, h2, h3, h4, h5, h6, p, a {
                color: black;
            }
            img {
                max-width: 100px;
                max-height: 100px;
            }
        .testamonialText {
            @include margin_killer;
            align-self: center;
            h3 {
                text-shadow: 1px 1px 2px gray;
            }
        }
        .testamonialPhotos {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        @media (min-width: 1100px) { 
                width: 25%;
            }
            
        }
    }
    #contactUs {
        background: $contact_bg;
        @include background_image;
        display: flex;
        width: 100%;
        padding: 1em;
        img {
            @include image_border;
            max-width: 50%!important;
        }
    }
}




footer {

}